body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Lato;
    color: white;
    transition: background 0.5s;
}

.bg-start {
    background-image: linear-gradient(60deg, #64b3f4 0%, #c2e59c 100%);
}

.bg1 {
    background-image: url('images/start.jpg');
    background-size: cover;
    background-position: center;
}

.bg2 {
    background-image: url('images/after.jpg');
    background-size: contain;
    
}

.bg3 {
    background-image: url('images/end.jpg');
    background-size: cover;
}

.bg-final {
    background-image: linear-gradient(120deg, #cbf171 0%, #96e6a1 100%);
}

.content {
    text-align: center;
}

.pop-up {
    opacity: 0;
    transition: opacity 1s;
}

.next-button {
    position: absolute;
    bottom: 20px;
    right: 20px;
    margin-top: 20px;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

.next-button img {
    width: 150px;
    height: 85px; 
}

.yes-button {
    position: absolute;
    left: 20px;
    bottom: 300px;
}


.hidden {
    display: none;
}

.speech-bubble {
    position: relative;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    padding: 15px;
    margin: 20px;
    display: inline-block;
    color: black;
    font-size: 1.2em;
}

.speech-bubble::after {
    content: '';
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -10px;
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent rgba(255, 255, 255, 0.8) transparent;
}